*{
  box-sizing: border-box;
}
body{
  margin: 0;
  
}
main{
  display: flex;
  
}
header{
 background-color:aqua;

}
aside{
  background-color: cadetblue;
}
article{
  background-color: bisque;
}

  
